.social-button {
  @include center-content;
  width: 2.5rem;
  height: 2.5rem;
  border: $border-1px;
  border-radius: $radius-lg;
  background-color: $color-background;
  color: $color-text-primary;
  text-decoration: none;

  @include slide-curtain-onhover($color-primary);

  &:hover {
    color: $color-text-dark;
  }
}
