.slide-up-transition {
  opacity: 0;
  transform: translateY(2.5rem);
}
.slide-up-transition-inview {
  opacity: 1;
  transform: translateY(0);
  transition: $transition-onscroll;
}

.slide-right-transition {
  opacity: 0;
  transform: translateX(-2.5rem);
}
.slide-right-transition-inview {
  opacity: 1;
  transform: translateY(0);
  transition: $transition-onscroll;
}

.slide-left-transition {
  opacity: 0;
  transform: translateX(2.5rem);
}
.slide-left-transition-inview {
  opacity: 1;
  transform: translateY(0);
  transition: $transition-onscroll;
}

.opacity-transition {
  opacity: 0;
}
.opacity-transition-inview {
  opacity: 1;
  transition: $transition-onscroll;
}
